@keyframes circle{
	0%{
		opacity:0;
		width:30px;height:30px;
	}
	50%{
		opacity:0.9;
	}
	100%{
		opacity:0;
		width:100px;height:100px;
	}
}

// @keyframes floating { 
//     0%{
//         transform: translate3d(0, 10px, 0); 
//     }
//     100%{
//         transform: translate3d(0, 0%, 0); 
//     }
// }
